<h3>Hello World!</h3>

<p><%= link_to "Help", help_path %></p>
<p><%= link_to "Cars list", cars_path %></p>
<p><%= link_to "Search",search_cars_path  %></p>
<p><%= link_to "Login" %></p>
<p><%= link_to "Sign up" %></p>
<p><%= link_to "My searches" %></p>
<p><%= link_to "Logout"%></p>
