<h3>Hello World!</h3>
<%= link_to "Help", help_path %>
<%= link_to "Cars list", cars_path %>
<%= link_to "Search",cars_search_path %>
<%= link_to "Login" %>
<%= link_to "Sign up" %>
<%= link_to "My searches" %>
<%= link_to "Logout"%>

