<div id="<%= dom_id car %>">
  <p>Car id: <%= car.id %></p>
  <p>Make: <%= car.make %></p>
  <p>Model: <%= car.model %></p>
  <p>Year: <%= car.year %></p>
  <p>Odometer: <%= car.odometer.to_i %></p>
  <p>Price: <%= car.price.to_i %></p>
  <p>Description: <%= car.description %></p>
  <p>Date added: <%= car.added_on %></p>
</div>
