<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>Make:</p>
  <%= form.text_field :make %>
  <p>Model:</p>
  <%=form.text_field :model %>
  <p>Year:</p>
  <%= form.number_field :year %>
  <p>Odometer:</p>
  <%= form.number_field :odometer %>
  <p>Price:</p>
  <%= form.number_field :price %>
  <p>Description:</p>
  <%= form.text_area :description %>
  <p><%= form.submit "Save form" %></p>
<% end %>
