<div class="request">
  <p>Request Make: <%= request.make %></p>
  <p>Request Model: <%= request.model %></p>
  <p>Request Year_from: <%= request.year_from %></p>
  <p>Request Year_to: <%= request.year_to %></p>
  <p>Request Price_from: <%= request.price_from %></p>
  <p>Request Price_to: <%= request.price_to %></p>
  <p>Request Odometer_from: <%= request.odometer_from %></p>
  <p>Request Odometer_to: <%= request.odometer_to %></p>
  <p>Searched at: <%= request.updated_at.strftime("%Y-%m-%d") %></p>
</div>
