<p style="color: green"><%= notice %></p>

<h3>Cars</h3>
<%= "There are " + @number_of_cars.to_s + " cars found." %>
<p><%= link_to "Back to Home page", root_path %></p>
<p><%= link_to "Search", search_cars_path  %></p>
<div>
  <p><%= sort_link("date_added_asc", "Sort by Date Added (ascending)") %></p>
  <p><%= sort_link("date_added_desc", "Sort by Date Added (descending)") %></p>
  <p><%= sort_link("price_asc", "Sort by Price (ascending)") %></p>
  <p><%= sort_link("price_desc", "Sort by Price (descending)") %></p>
</div>
<div id="cars">
  <% @cars.each do |car| %>
    <%= render car %>
    <p>
      <%= link_to "Show this car", car %>
    </p>
  <% end %>
</div>
<%= will_paginate @cars %>
<div><%= link_to "Add new car", new_car_path %></div>
