<p style="color: green"><%= notice %></p>

<h3>Cars</h3>
<%= "There are " + @cars.length.to_s + " cars found." %>
<p><%= link_to "Back to Home page", root_path %></p>
<p><%= link_to "Search", cars_search_path%></p>
<div>
  <p><%= link_to "Sort by Date Added (ascending)", cars_path(sort: "date_added_asc") %></p>
  <p><%= link_to "Sort by Date Added (descending)", cars_path(sort: "date_added_desc") %></p>
  <p><%= link_to "Sort by Price (ascending)", cars_path(sort: "price_asc") %></p>
  <p><%= link_to "Sort by Price (descending)", cars_path(sort: "price_desc") %></p>
</div>
<div id="cars">
  <% @cars.each do |car| %>
    <%= render car %>
    <p>
      <%= link_to "Show this car", car %>
    </p>
  <% end %>
</div>
