<p style="color: green"><%= notice %></p>

<h3>Cars</h3>
<%= "There are " + @cars.length.to_s + " cars found." %>
<p><%= link_to "Back to Home page", root_path %></p>
<div>
  <%= form_with url: cars_path, method: :get, data: { turbo: false }, class: 'cars_form' do |f| %>
    <%= f.label "Sort by:" %>
    <%= f.select :sort_by, ['price', 'date'], selected: params[:sort_by] %>
    <%= f.label "Sort order:" %>
    <%= f.select :sort_order, ['asc', 'desc'], selected: params[:sort_order] %>
    <%= f.submit 'Sort' %>
  <% end %>
</div>
<div id="cars">
  <% @cars.each do |car| %>
    <%= render car %>
    <p>
      <%= link_to "Show this car", car %>
    </p>
  <% end %>
</div>

<%= link_to "New car", new_car_path %>
