<h3>Search page</h3>
<div>
  <%= form_with url: cars_path, method: :get, data: { turbo: false }, class: 'cars_form' do |f| %>
    <%= f.label :make, "Search by name" %>
    <%= f.text_field :make%>
    <%= f.label :model, "Search by model" %>
    <%= f.text_field :model%>
    <%= f.label :years, "Filter by years" %>
    <div>
      <%= f.number_field :year_from%>
      <%= f.number_field :year_to%>
    </div>
    <%= f.label :price, "Filter by price" %>
    <div>
      <%= f.number_field :price_from%>
      <%= f.number_field :price_to%>
    </div>
    <%= f.label :years, "Filter by odometer" %>
    <div>
      <%= f.number_field :odometer_from%>
      <%= f.number_field :odometer_to%>
    </div>
    <%= f.submit 'Search' %>
  <% end %>
</div>
<p><%= link_to "Back to Home page", root_path %></p>
